[submodule "paralegal"]
	path = paralegal
	url = git@github.com:brownsys/paralegal
[submodule "codeql-experimentation"]
	path = codeql-experimentation
	url = git@github.com:JustusAdam/codeql-experimentation.git
[submodule "paralegal-bench"]
	path = paralegal-bench
	url = git@github.com:brownsys/paralegal-bench
